/*
  * Social Buttons CSS Style Sheet
  ! on hover, each element color and transition is also controlled

  CDNJS Library: https://cdnjs.com/libraries/font-awesome
  Fontawesome Icons: https://fontawesome.com/
  Simple Icons: https://simpleicons.org/
*/

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.social {
  margin: 0 auto;
  width: auto;
  text-align: inherit;
  padding: 10px;
}

.icon-btn {
  scale: 2;
  margin-left: auto; 
  width: 30px;
  height: 30px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  border-radius: 30px;
  display: inline-block;
  margin: 4px;
}

.icon-btn:hover {
  transform: scale(1.10);
}

.fa-linkedin-in {
  color: #0A66C2;
}

.fa-github {
  color: #181717;
}

.fa-gitlab {
  color: #FC6D26;
}

.fa-researchgate {
  color: #00CCBB;
}

.fa-kaggle {
  color: #20BEFF;
}

.fa-stack-overflow {
  color: #F58025;
}

.fa-hackerrank {
  color: #00EA64;
}

.fa-instagram {
  color: #E4405F;
}

.fa-facebook-f {
  color: #1877F2;
}
